.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.header {
    background-image: url(img/fon.jpg);
    background-size: 2000px;
}
.header li {
    width: 200px;
    height: 50px;
    list-style-type: none;
    border: 1px solid brown;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.header li a:hover {
    color: red;
}
.header li a:active {
    color: brown;
}
.menu li {
    display: inline-block;
    width: 250px;
    height: 40px;
    padding-top: 10px;
    font-family: monospace;
    margin-bottom: 10px
}
.menu li a {
    color: darkviolet;
    font-size: 30px;
}
.logo {
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    position: absolute;
}
.menu {
    padding-top: 40px;
    margin-right: 30px;
    text-align: right;
    position: relative;
}

.product_1 {
    margin-right: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: auto;
    display: inline-block;
    text-align: center;
    position: relative;
}
.product_2 {
    margin-right: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: auto;
    display: inline-block;
    text-align: center;
    position: relative;
    
}
.product_1:hover {
    border-color: red;
}
.product_2:hover {
    border-color: red;
}
.product_1:active {
    border-color: transparent;
}
.product_2:active {
    border-color: transparent;
}


.product {
    margin-top: 0px;
    font-size: 20px;
    background-color: #eaeaea;
    float: both;
}
.body {
/*
    background-image: url(img/fon_2.jpg);
    background-size: 2500px;
*/
    background-color: snow
}
.link {
    text-decoration: none;
    color: blue;
    font-style: italic;
    font-size: 20px
}
hr {
    border-color: brown;
    border-style: solid;
    border-width: 5px;
}
img[alt="ara"]:hover {
    border-color: transparent;
}
img[alt="ara"] {
    border-style: groove;
    border-color: brown;
    float: left;
    margin-right: 10px;
}
.char {
    list-style-type: circle;
    font-size: 16px;
    font-style: italic;
}
#short {
    font-style: italic;
    line-height: 16px;
}
#long{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer {
    text-align: right;
    background-image: url(img/fon.jpg);
    background-size: 2000px;
    height: 60px;
    padding-top: 10px;
    padding-right: 50px;
}
input {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border:1px solid #999;
    color: crimson;
    font-size:16px;
    font-family: monospace;
}
#check {
    font-style: italic;
    border-color: brown;
    color: blueviolet;
    text-transform: capitalize;
}
.dz {
    border: 1px solid  black;
    border-spacing: 0px;
    font-style: italic;
}
td {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-spacing: 0px;
}
#col_1 {
    height: 60px;
    font-family: fantasy;
}
iframe {
    width: 100%;
    height: 374px;
}
.Buy {
    font-size: 20px;
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    margin-left: 40px;
}
.Buy:hover {
    color: red;
}
.Buy:active {
    color: brown;
}