

.header li {
    width: 100px;
    height: 30px;
    list-style-type: none;
    border: 1px solid #000;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.header li a:hover {
    color: red;
}
.header li a:active {
    color: black;
}


.product {
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}
.body {
    background-color: #f8f8f8
}
.link {
    text-decoration: none;
    color: blue;
    font-style: italic;
    font-size: 20px
}
hr {
    border-color: brown;
    border-style: solid;
    border-width: 5px;
}
img[alt="ara"]:hover {
    border-color: transparent;
}
img[alt="ara"] {
    border-style: groove;
    border-color: brown;
}
.char {
    list-style-type: circle;
    font-size: 16px;
    font-style: italic;
}
#short {
    color: #707070;
    font-style: italic;
    line-height: 16px;
}
#long{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer {
    text-align: center
}
input {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border:1px solid #999;
    color: crimson;
    font-size:16px;
    font-family: monospace;
}
#check {
    font-style: italic;
    border-color: brown;
    color: blueviolet;
    text-transform: capitalize;
}
.dz {
    border: 1px solid  black;
    border-spacing: 0px;
    font-style: italic;
}
td {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-spacing: 0px;
}
#col_1 {
    height: 60px;
    font-family: fantasy;
}